nav {
    width: 100%;
    background-color: #1aa4ff;
    margin-left: -10px;
    padding-right: 16px;
    margin-top: -8px;
}

ul {
    width: 900px;
    margin: 0 auto;
    list-style: none;
}

li,
a {
    display: inline-block;
}

a {
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFDFE;
    font-size: 14px;
    padding: 11px 16px;
    font-family: Impact;
    font-weight: normal;
    position: static;
}

li a:hover {
    color: #9FA0B4;
    background-color: #EEEEEE;
}

nav li:hover > .drop-down {
    display: inline-block;
}

.drop-down {
    width: 100%;
    display: none;
    background-color: #EEEEEE;
    margin: 0 auto;
    position: absolute;
    top: 39px;
    left: 0;
    right: 0;
}

.drop-down li a {
    color: #9FA0B4;
    padding-bottom: 10px;
    font-family: sans-serif;
    text-transform: none;
}

.drop-list {
    width: 900px;
    margin: 0 auto;
    list-style: none;
}

.drop-list li {
    margin-left: -10px;
}


/*
.main-menu {
    font: bold 20px Economica;
    text-transform: uppercase;
    width: 900px;
    margin: 0 auto;
    position: relative;
    
}

.main-menu > li {
    margin: 0 -2px;
}

.sub-menu {
    position: absolute;
    right: 0;
    display: none;
    margin: 0 auto;
    background: #eeeeee;
    width: 900px;
    box-shadow: 0 2px 7px #d4d4d4;
}

.drop-list li {
    display: inline-block;
    margin: 0 -2px;
}

.main-menu a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 11px 15px;
}

.main-menu a:hover {
    color: #a0a0a0;
    background-color: #eeeeee;
}

.drop-list a {
    color: #a0a0a0;
    font: normal 12px Helvetica;
    text-transform: none;
}

.main-menu > li:hover .drop-list {
    display: block;
}*/