html,
body {
    padding: 0;
    margin: 0;
}

body {
    width: 1200px;
    margin: 0 auto;
}

.clearfix {
    content: '';
    display: table;
    clear: both;
}

.container {
    padding-left: 160px;
    padding-right: 160px;
}

.main-header {
    min-height: 436px;
}

.main-navigation {
    width: 400px;
    float: left;
}

.basket {
    width: 110px;
    float: right;
}

.logo {
    width: 140px;
    float: left;
}

.slider {
    height: 352px;
}

.slider .left-column {
    float: left;
    width: 480px;
}

.slider .right-column {
    float: right;
    width: 400px;
}

.main-container {
    margin-top: 80px;
    min-width: 642px;
}

.services-item {
    float: left;
    width: 240px;
    margin-right: 80px;
}

.services-item:last-child {
    margin-right: 0;
}

.services-row {
    margin-bottom: 80px;
}

.about {
    margin-top: 60px;
    margin-bottom: 70px;
}

.about-column-left {
    width: 560px;
    margin-right: 80px;
}

.about-right-column {
    width: 240px;
}

.about-column {
    float: left;
}

.portfolio {
    height: 160px;
}

.main-footer {
    margin-top: 85px;
}

.card-company {
    height: 240px;
    width: 240px;
    position: relative;
    bottom: 328px;
    left: 160px;
}

.contact-map {
    margin: 0;
    position: absolute;
}

.footer {
    margin-top: 493px;
}