<md-toolbar color="primary">
  
  <md-icon class="icon__link" routerLink="/home" routerLinkActive="active">home</md-icon>
  <button md-icon-button [mdMenuTriggerFor]="menu">
    <md-icon>more_vert</md-icon>
  </button>
  <md-menu #menu="mdMenu">
    <button md-menu-item routerLink="/hello" routerLinkActive="active">Hello List</button>
    <button md-menu-item routerLink="/table" routerLinkActive="active">My Table</button>
  </md-menu>
  ITVDN Angular 2 Essential
  <md-icon class="icon__link" routerLink="/admin" routerLinkActive="active">account_circle</md-icon>

</md-toolbar>

<div>
  <router-outlet></router-outlet>
</div>
