.wrapper {
    padding-bottom: 0;
}

.wrapper_shadow {
    padding-bottom: 25px;
}

.header {
    height: 115px;
}

.contact__block {
    margin: 0 20px;
    width: 932px;
}

.block__message {
    display: inline-block;
    vertical-align: top;
}

.contact__title {
    margin: 0 20px;
    padding: 10px 0;
    font: 400 20px "Oxygen";
    color: #bbb;
    text-transform: uppercase;
    border-bottom: 1px solid #e5e5e5;
    box-shadow: inset 0 -4px 4px -5px rgba(0, 0, 0, 0.25);
}


/*Block Send-Message*/

.block__message_form {
    width: 612px;
    min-height: 485px;
    border-right: 1px solid #e5e5e5;
}

.message__title {
    position: relative;
    padding: 10px 0;
    margin-right: 20px;
    font: 400 18px "Oxygen";
    color: #222;
    border-bottom: 1px solid #e5e5e5;
    box-shadow: 0 4px 4px -5px rgba(0, 0, 0, 0.25);
}


/*Block Contact Information*/

.block__message_info {
    float: right;
    width: 281px;
    border: 1px solid #ececec;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    padding: 9px;
    margin-top: 20px;
}

.info__title {
    font: 700 12px "Arial";
    color: #666;
    text-transform: uppercase;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 5px;
}

.info__content {
    font: 400 12px "Arial";
    color: #444;
    line-height: 20px;
    padding-top: 8px;
    text-align: justify;
}

.footer__column {
    margin-top: 20px;
}

.footer-list__link {
    color: #999;
}

.wrapper .wrapper_shadow:before,
.wrapper_shadow:after {
    content: "";
    position: absolute;
    z-index: -3;
    bottom: 5px;
    left: 10px;
    width: 50%;
    height: 20%;
    max-width: 300px;
    -webkit-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.4);
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    transform: rotate(-3deg);
}

.wrapper_shadow:after {
    right: 10px;
    left: auto;
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    transform: rotate(3deg);
}