.container {
    font-family:"PT Sans", sans-serif;
    width:300px;
    margin:50px auto;
}

.header,
.column1,
.column2,
.column3,
.footer{
    padding:10px;
    margin:10px 0;
    border:2px dashed #ccc;
    background: #FFEAAB;
    color:#CC0000;
}
/* .column1{
    float:left;
    width:120px;
    min-height:50px;
    margin-top:0;
}
.column2{
    float:right;
    width:120px;
    min-height:50px;
    margin-top:0;
}
.column3{
    clear:both;
    width:150px;
    min-height:50px;
    margin:10px auto;
} */

.column1{
    float:left;
    width:65px;
    min-height:50px;
    margin-top:0;
    margin-right:9px;
    /*Ширина 65+20+4=89*/
}
.column2{
    float:left;
    width:80px;
    min-height:50px;
    margin-top:0;
    /*Ширина 80+20+4=104*/
}
.column3{
    float:right;
    width:65px;
    min-height:50px;
    margin-top:0;
    margin-left:9px;
    /*Ширина 65+20+4=89*/
}
.footer{
    clear:both;
}