/*
text-align: right;
text-align: center;
color: orange;
background-color: green;
font-size: 30px;
font-weight: bold;
font-weight: normal;
*/

h1 {
    text-align: right;
    font-weight: bold;
    color: orange;
}

h2 {
    color: orange;
}

#warehouse h2 {
    color: blue;
}

p:first-letter {
    color: red;
    font-size: 30px;
}

em {
    background-color: green;
    color: white;
}

ul > li {
    font-weight: bold;
}

#allotment .fruits-list {
    font-weight: normal;
    color: grey;
}

#allotment .vegetables-list {
    font-weight: normal;
    color: red;
}

#warehouse .fruits-list {
    font-weight: normal;
    color: green;
}

#warehouse .vegetables-list {
    font-weight: normal;
    color: red;
}

.students-table {
    text-align: center;
}

thead {
    font-weight: bold;
}

tbody td:nth-child(1) {
    text-align: left;
    color: orange;
}

tbody td:nth-child(n+2) {
    color: white;
    background-color: green;
}